form,
td {
  border: 2px solid black;
  background-color: deeppink;
}
H1 {
  background-color: aqua;
  border-radius: 5px;
  margin: 5px 5px;
  text-align: center;
  color: dodgerblue;
}
#result {
  color: ;
  margin-left: 3px;
  font-weight: 40px;
}
#parking {
  accent-color: red;
}
form {
  width: 500px;
}
